.projectsContainer {
	display: flex;
	flex-wrap: wrap;
}

.cardDiv {
	margin: auto;
}

.cropImg {
	height: 200px;
	overflow: hidden;
}

.DiscriptionLine {
	line-height: 1.8rem;
}

.projectTitle {
	font-size: 1.5rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1rem;
}

.header h1 {
	font-size: 2rem;
}

.projectLinkIcon {
	color: black;
	font-size: 2rem;
	padding-right: .5rem;
}

.projectInfoIcon {
	color: black;
	font-size: 2rem;
}

.headerLeft {
	display: flex;
	align-items: center;
	padding-left: .5rem;
}

@media only screen and (min-width: 768px) {
	.projectLinkIcon {
		color: rgba(0, 0, 0, .7);
		transition: all 500ms ease;
	}

	.projectLinkIcon:hover {
		color: rgba(0, 0, 0, 1);

		transition: 300ms ease;
		font-size: 2.2rem;
	}

	.projectInfoIcon {
		color: rgba(0, 0, 0, .7);
		transition: all 500ms ease;
	}

	.projectInfoIcon:hover {
		color: rgba(0, 0, 0, 1);

		transition: 300ms ease;
		font-size: 2.2rem;
	}
}
