.projectCard {
	position: relative;
	width: 75%;
	height: 10rem;
	overflow: hidden;
	padding: 2rem;
	margin: 1rem auto;
	background-color: white;
	border-radius: .2rem;
}

.projectImg {
	position: relative;
	width: 200%;
	left: -2rem;
	top: -3rem;
	z-index: 0;
}

.projectAnchorDiv {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30%;
	z-index: 1;
	background-color: rgba(0, 0, 0, .8);
}
.projectAnchor {
	color: white;
	text-decoration: none;
	font-size: 2rem;
	padding-left: 1rem;
}

.projectLinkIcon {
	color: white;
	font-size: 4rem;
	padding-right: 1rem;
}

.PortLinks {
	background-color: #53add7;
	display: flex;
	flex-direction: column;
	margin-bottom: 5rem;
}

@media only screen and (min-width: 768px) {
	.projectCard {
		width: 30%;
	}

	.projectLinkIcon {
		color: rgba(255, 255, 255, .7);
		/* width: 30%; */
		transition: all 500ms ease;
	}

	.projectLinkIcon:hover {
		color: rgba(255, 255, 255, 1);
		transition: 300ms ease;
		font-size: 4.5rem;
	}

	.PortLinks {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
