footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	background-color: rgba(255, 255, 255, .97);
	z-index: 20;
	color: #53add7;
}

footer h1 {
	font-size: 2rem;
	color: white;
	text-align: center;
}

footer ul {
	display: flex;
	justify-content: space-evenly;
	font-size: 2rem;
	list-style: none;
}

footer li {
	padding: 1rem 0;
	color: #53add7;
}

#footerLinks a {
	text-decoration: none;
	color: #53add7;
}

footer button {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 2.5rem;
	background-color: transparent;
	outline: 0;
	border: 0;
}

.contactForm {
	position: fixed;
	width: 100%;
	background-color: #53add7;
	color: white;
	left: 0;
	top: 0;
	padding: 60px;
	display: block;
	height: 100vh;
	left: 500vw;
	transition: left 500ms ease;
	box-sizing: border-box;
	text-align: left;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

form input {
	width: 60vw;
	margin-top: 2rem;
}

form textarea {
	resize: none;
	width: 70%;
	height: 30vh;
	margin-top: 2rem;
}

#formLinks {
	text-align: center;
	font-size: 3rem;
	margin-top: 1rem;
}

#formLinks a {
	text-decoration: none;
	color: white;
}

.footerOpen .footerLeft {
	position: fixed;
	left: 0vw;
}

.footerClose {
	color: #efc78b;
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 2rem;
}
